In [28]:
import pandas as pd
import numpy as np

from sklearn.metrics import f1_score
from sklearn.metrics import classification_report

In [2]:
train = pd.read_csv('train.csv')
val = pd.read_csv('val.csv')
test = pd.read_csv('test.csv')
sub = pd.read_csv('sample_submission.csv')

# 1. 데이터 살펴보기

### 1. train
- 설명: 정상, 사기 거래의 여부를 알 수 없는(대부분 정상 거래) 신용 카드 데이터 (Unlabeled)
- ID : 신용 카드 거래 ID
- Column ('V1', 'V2', 'V3', ... ,'V30) : 비식별화된 신용 카드 거래 Feature

In [3]:
train.head()

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,3,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,4.983721,-0.994972
1,4,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,1.418291,-0.994972
2,6,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,-0.256131,-0.994960
3,8,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,0.262698,-0.994901
4,9,-0.894286,0.286157,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,...,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,0.994900,-0.994901

In [4]:
# 결측값 없음
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113842 entries, 0 to 113841
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      113842 non-null  int64
 1   V1      113842 non-null  float64
 2   V2      113842 non-null  float64
 3   V3      113842 non-null  float64
 4   V4      113842 non-null  float64
 5   V5      113842 non-null  float64
 6   V6      113842 non-null  float64
 7   V7      113842 non-null  float64
 8   V8      113842 non-null  float64
 9   V9      113842 non-null  float64
 10  V10     113842 non-null  float64
 11  V11     113842 non-null  float64
 12  V12     113842 non-null  float64
 13  V13     113842 non-null  float64
 14  V14     113842 non-null  float64
 15  V15     113842 non-null  float64
 16  V16     113842 non-null  float64
 17  V17     113842 non-null  float64
 18  V18     113842 non-null  float64
 19  V19     113842 non-null  float64
 20  V20     113842 non-null  float64
 21  V21     113842 non-null  float64
 22  V22     113842 non-null  float64
 23  V23     113842 non-null  float64
 24  V24     113842 non-null  float64
 25  V25     113842 non-null  float64
 26  V26     113842 non-null  float64
 27  V27     113842 non-null  float64
 28  V28     113842 non-null  float64
 29  V29     113842 non-null  float64
 30  V30     113842 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 26.9 MB

In [14]:
train.isnull().sum().sum()

0

### 2. val
- 설명: 정상, 사기 거래의 여부가 포함된 신용 카드 데이터 (학습 불가능, 규칙 참고)
- ID : 신용 카드 거래 ID
- Column ('V1', 'V2', 'V3', ... ,'V30) : 비식별화된 신용 카드 거래 Feature
- Class : 신용 카드 거래의 정상, 사기 여부 (정상 : 0, 사기 : 1)

In [5]:
val.head()

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V22,V23,V24,V25,V26,V27,V28,V29,V30,Class
0,10,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,...,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,-0.255991,-0.994878,0
1,22,0.962496,0.328461,-0.171479,2.109204,1.129566,1.696038,0.107712,0.521502,-1.191311,...,0.402492,-0.048508,-1.371866,0.390814,0.199964,0.016371,-0.014605,0.168937,-0.994784,0
2,63,1.145524,0.575068,0.194008,2.598192,-0.092210,-1.044430,0.531588,-0.241888,-0.896287,...,-0.119703,-0.076510,0.691320,0.633984,0.048741,-0.053192,0.016251,0.169496,-0.994502,0
3,69,0.927060,-0.323684,0.387585,0.544474,0.246787,1.650358,-0.427576,0.615371,0.226278,...,0.079359,0.096632,-0.992569,0.085096,0.377447,0.036096,-0.005960,0.331307,-0.994467,0
4,83,-3.005237,2.600138,1.483691,-2.418473,0.306326,-0.824575,2.065426,-1.829347,4.009259,...,-0.181268,-0.163747,0.515821,0.136318,0.460054,-0.251259,-1.105751,-0.287012,-0.994373,0

In [7]:
# 결측값 없음
val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28462 entries, 0 to 28461
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      28462 non-null  int64
 1   V1      28462 non-null  float64
 2   V2      28462 non-null  float64
 3   V3      28462 non-null  float64
 4   V4      28462 non-null  float64
 5   V5      28462 non-null  float64
 6   V6      28462 non-null  float64
 7   V7      28462 non-null  float64
 8   V8      28462 non-null  float64
 9   V9      28462 non-null  float64
 10  V10     28462 non-null  float64
 11  V11     28462 non-null  float64
 12  V12     28462 non-null  float64
 13  V13     28462 non-null  float64
 14  V14     28462 non-null  float64
 15  V15     28462 non-null  float64
 16  V16     28462 non-null  float64
 17  V17     28462 non-null  float64
 18  V18     28462 non-null  float64
 19  V19     28462 non-null  float64
 20  V20     28462 non-null  float64
 21  V21     28462 non-null  float64
 22  V22     28462 non-null  float64
 23  V23     28462 non-null  float64
 24  V24     28462 non-null  float64
 25  V25     28462 non-null  float64
 26  V26     28462 non-null  float64
 27  V27     28462 non-null  float64
 28  V28     28462 non-null  float64
 29  V29     28462 non-null  float64
 30  V30     28462 non-null  float64
 31  Class   28462 non-null  int64
dtypes: float64(30), int64(2)
memory usage: 6.9 MB

In [16]:
val.groupby(by = ['Class']).count()

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
Class,,,,,,,,,,,,,,,,,,,,,
0,28432,28432,28432,28432,28432,28432,28432,28432,28432,28432,...,28432,28432,28432,28432,28432,28432,28432,28432,28432,28432
1,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30

In [17]:
# less than 0.2% --> Data Imbalance
print('Target class is ', '{0:0.4f}'. format(30/(28432+30)*100), '%')

Target class is  0.1054 %

### 3. test
- ID:  신용 카드 거래 ID
- Class : 신용 카드 거래의 정상, 사기 여부 (정상 : 0, 사기 : 1)

In [8]:
test.head()

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,AAAA0x1,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,1.783274,-0.994983
1,AAAA0x2,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,-0.269825,-0.994983
2,AAAA0x5,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.670579,-0.994960
3,AAAA0x7,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,...,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,-0.237686,-0.994937
4,AAAA0xc,0.384978,0.616109,-0.874300,-0.094019,2.924584,3.317027,0.470455,0.538247,-0.558895,...,0.049924,0.238422,0.009130,0.996710,-0.767315,-0.492208,0.042472,-0.054337,-0.167819,-0.994866

In [11]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142503 entries, 0 to 142502
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      142503 non-null  object
 1   V1      142503 non-null  float64
 2   V2      142503 non-null  float64
 3   V3      142503 non-null  float64
 4   V4      142503 non-null  float64
 5   V5      142503 non-null  float64
 6   V6      142503 non-null  float64
 7   V7      142503 non-null  float64
 8   V8      142503 non-null  float64
 9   V9      142503 non-null  float64
 10  V10     142503 non-null  float64
 11  V11     142503 non-null  float64
 12  V12     142503 non-null  float64
 13  V13     142503 non-null  float64
 14  V14     142503 non-null  float64
 15  V15     142503 non-null  float64
 16  V16     142503 non-null  float64
 17  V17     142503 non-null  float64
 18  V18     142503 non-null  float64
 19  V19     142503 non-null  float64
 20  V20     142503 non-null  float64
 21  V21     142503 non-null  float64
 22  V22     142503 non-null  float64
 23  V23     142503 non-null  float64
 24  V24     142503 non-null  float64
 25  V25     142503 non-null  float64
 26  V26     142503 non-null  float64
 27  V27     142503 non-null  float64
 28  V28     142503 non-null  float64
 29  V29     142503 non-null  float64
 30  V30     142503 non-null  float64
dtypes: float64(30), object(1)
memory usage: 33.7+ MB

### 4. submission

In [10]:
sub

             ID  Class
0       AAAA0x1      1
1       AAAA0x2      1
2       AAAA0x5      1
3       AAAA0x7      1
4       AAAA0xc      1
...         ...    ...
142498  0x4587f      1
142499  0x45880      1
142500  0x45884      1
142501  0x45885      1
142502  0x45887      1

[142503 rows x 2 columns]

# 2. feature engineering

### train data의 label 예측

In [21]:
# val set의 사기거래 비율
val_normal, val_fraud = val['Class'].value_counts()
val_contamination = val_fraud / val_normal
print(f'Validation contamination : [{val_contamination}]')

Validation contamination : [0.0010551491277433877]

In [19]:
# Train dataset은 Label이 존재하지 않음
train_x = train.drop(columns=['ID']) # Input Data

In [23]:
from sklearn.ensemble import IsolationForest

In [24]:
# 가설 설정 : Train dataset도 Validation dataset과 동일한 비율로 사기거래가 발생 했을 것이다. 
# -> model parameter : contamination=val_contamination(=0.001055) 적용
model = IsolationForest(n_estimators = 125, max_samples = len(train_x), contamination = val_contamination, random_state=42, verbose=0)
model.fit(train_x)

IsolationForest(contamination=0.0010551491277433877, max_samples=113842,
                n_estimators=125, random_state=42)

In [25]:
def get_pred_label(model_pred):
    # IsolationForest 모델 출력 (1:정상, -1:불량(사기)) 이므로 (0:정상, 1:불량(사기))로 Label 변환
    model_pred = np.where(model_pred == 1, 0, model_pred)
    model_pred = np.where(model_pred == -1, 1, model_pred)
    return model_pred

In [29]:
val_x = val.drop(columns=['ID', 'Class']) # Input Data
val_y = val['Class'] # Label

val_pred = model.predict(val_x) # model prediction
val_pred = get_pred_label(val_pred)
val_score = f1_score(val_y, val_pred, average='macro')
print(f'Validation F1 Score : [{val_score}]')
print(classification_report(val_y, val_pred))

Validation F1 Score : [0.7030820840915222]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     28432
           1       0.41      0.40      0.41        30

    accuracy                           1.00     28462
   macro avg       0.71      0.70      0.70     28462
weighted avg       1.00      1.00      1.00     28462

In [30]:
test_x = test.drop(columns=['ID'])

In [31]:
test_pred = model.predict(test_x) # model prediction
test_pred = get_pred_label(test_pred)

In [ ]:
#submit['Class'] = test_pred
#submit.to_csv('./submit.csv', index=False)

In [18]:
from sklearn.manifold import TSNE
from sklearn.decomposition import PCA, TruncatedSVD

In [ ]:
# 차원 축소할 데이터 준비
X = new_df.drop('Class', axis=1)
y = new_df['Class']

# t-SNE  
X_reduced_tsne = TSNE(n_components=2, random_state=0).fit_transform(X.values)
print('t-SNE done')

# PCA 
X_reduced_pca = PCA(n_components=2, random_state=0).fit_transform(X.values)
print('PCA done')

# TruncatedSVD
X_reduced_svd = TruncatedSVD(n_components=2, algorithm='randomized', random_state=0).fit_transform(X.values)
print('Truncated SVD done')